# Portainer Configuration
PORTAINER_VERSION=latest
PORTAINER_PORT=9000

# Prometheus Configuration
PROMETHEUS_PORT=9090

# Grafana Configuration
GRAFANA_PORT=3000

# Mailhog Configuration
MAILHOG_VERSION=latest
MAILHOG_WEB_PORT=8025
MAILHOG_SMTP_PORT=1025

# MySQL Configuration
MYSQL_VERSION=9.7
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root

# PostgreSQL Configuration
POSTGRES_VERSION=18.4
POSTGRES_PORT=5432

# Redis Configuration
REDIS_VERSION=8.10
REDIS_PORT=6379
REDIS_COMMANDER_VERSION=latest
REDIS_COMMANDER_PORT=8081

# Database Configuration
DB_USER=root
DB_PASSWORD=root