# Database Configuration
DB_USER=root
DB_PASSWORD=root

# Grafana Configuration
GRAFANA_PORT=3000

# K6 Configuration
K6_TARGET_URL=
K6_TARGET_PATH=
K6_CHECK_SITEMAP=true
K6_TAG_ENDPOINTS=
K6_TEST_VUS=5
K6_MAX_VUS=10
K6_TEST_DURATION=10s
K6_RPS=0
K6_MAX_REDIRECTS=5
K6_SLEEP_SECONDS=1

# Mailhog Configuration
MAILHOG_VERSION=latest
MAILHOG_WEB_PORT=8025
MAILHOG_SMTP_PORT=1025

# MinIO Configuration
MINIO_VERSION=latest
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=
MINIO_PORT=9091
MINIO_CONSOLE_PORT=9092

# MySQL Configuration
MYSQL_VERSION=9.7
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=

# Nginx Proxy Manager Configuration
NGINX_PROXY_MANAGER_VERSION=latest
NGINX_PROXY_MANAGER_PORT=81

# Ngrok Configuration
NGROK_VERSION=latest
NGROK_PORT=4040
NGROK_AUTHTOKEN=
NGROK_URL=

# Portainer Configuration
PORTAINER_VERSION=latest
PORTAINER_PORT=9000

# PostgreSQL Configuration
POSTGRES_VERSION=18.4
POSTGRES_PORT=5432

# Prometheus Configuration
PROMETHEUS_PORT=9090

# Redis Configuration
REDIS_VERSION=8.10
REDIS_PORT=6379
REDIS_COMMANDER_VERSION=latest
REDIS_COMMANDER_PORT=8081

# Stack Configuration
STACK="portainer prometheus grafana mailhog minio mysql nginx-proxy-manager ngrok postgres redis redis-commander"