# MySQL Configuration
MYSQL_VERSION=9.7
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root

# PostgreSQL Configuration
POSTGRES_VERSION=18.4
POSTGRES_PORT=5432

# Redis Configuration
REDIS_VERSION=7.0
REDIS_PORT=6379

# Database Configuration
DB_USER=root
DB_PASSWORD=root